{%load static%}
{% include "admin/header.html" %}

  <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Edit District</h6>
                            <form action="{% url 'editdistrict' district.dist_id %}" method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label class="form-label">District name</label>
                                    <input type="text" name="districtname" value="{{district.dist_name}}" class="form-control" ><br>
<!--                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.-->
                                        <button type="submit" name="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
